Valt/Constants.swift
.DS_Store
xcuserdata/
DerivedData/
build/

Valt/GoogleService-Info.plist
Valt.xcodeproj/xcshareddata/xcschemes/Valt.xcscheme
Valt.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Valt.xcodeproj/project.pbxproj
